{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Java LLPL Primer
{{template "tocLongText" .}}
For advanced Java programmers, who have already
gone through Example J, here are some additional
LLPL examples from the primer directory in
the LLPL repository.
{{template "tocEntryEnd" .}}
