{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Allocation tiering based on memory-characteristics
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example shows allocation tiering with the usage of memkind.
This is achieved by utilising memory performance characteristics provided by
kernel and the libhwloc library. Allocation tiering is based on
the lowest latency and the highest capacity tiers.
<br><br>
This example is intended for C programmers.
{{template "tocEntryEnd" .}}
