{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Accessing different types of memory
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example shows how OS exposes memory.
{{template "tocEntryEnd" .}}

