{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
CacheLib Multi-tier Example
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example shows how to create a multi-tier cache using pmem with cachelib
{{template "tocEntryEnd" .}}
