{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
CacheLib example
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example shows how to use CacheLib on hetergoenous memory system.
{{template "tocEntryEnd" .}}

