{{top "Java Examples Using LLPL"}}

<p class="intro">
As part of the PMDK project, several Java-related
libraries have been developed:
<p class="intro">
The <b>pmemkv</b> library: A simple key-value store with Java bindings
<p class="intro">
The <b>Experimental PCJ</b> library: Persistent Containers for Java
<p class="intro">
The <b>LLPL</b> library: The Low-Level Persistence Library for Java
<p class="intro">
These examples focus on LLPL.
There are a number of example Java programs
using LLPL below, each designed to show a different aspect of the library.

{{template "scrollToContinue"}}

<p>
LLPL is built on top of PMDK's <b>libpmemobj</b> which implements
a pmem-aware memory allocator, transactions, and a long list of
other features.

<p>
You can read the examples below, modify them if you like, build them,
and run them.  Remember you can select <b>Shell Window</b> from the
menu in the upper left corner and get more hands-on with these examples
using the Linux shell directly.

{{step "A_intarray"}}

<p>
This is an example of a transactional IntArray class.

{{edit "workshop/A_intarray/IntArray.java" "workshop/A_intarray/IntArrayExample.java"}}

<p>
Once you've made any edits to the
above source file, click the button
below to build the program on the server.
If you see any build errors, scroll back up
to the source editing window and fix them.

{{build "scripts/build_A.sh"}}

<p>
If the program built without errors, continue on to the next step below.

{{step "Run Example: A_intarray"}}

<p>
The script below will run this example.  You can modify the script
and re-run the example as many times as you like.

{{edit "scripts/run_A.sh"}}

<p>
Now you can try running the program using the above script.

{{run "scripts/run_A.sh"}}

{{step "B_anyintarray"}}

<p>
This example is an IntArray class usable with different
consistency schemes.

{{edit "workshop/B_anyintarray/IntArray.java" "workshop/B_anyintarray/IntArrayExample.java"}}

<p>
Once you've made any edits to the
above source file, click the button
below to build the program on the server.
If you see any build errors, scroll back up
to the source editing window and fix them.

{{build "scripts/build_B.sh"}}

<p>
If the program built without errors, continue on to the next step below.

{{step "Run Example: B_anyintarray"}}

<p>
The script below will run this example.  You can modify the script
and re-run the example as many times as you like.

{{edit "scripts/run_B.sh"}}

<p>
Now you can try running the program using the above script.

{{run "scripts/run_B.sh"}}

{{step "C_genericarray"}}

<p>
This example is an Array&lt;T&gt; class usable with different
consistency schemes.

{{edit "workshop/C_genericarray/Array.java" "workshop/C_genericarray/ArrayExample.java" "workshop/C_genericarray/Employee.java"}}

<p>
Once you've made any edits to the
above source file, click the button
below to build the program on the server.
If you see any build errors, scroll back up
to the source editing window and fix them.

{{build "scripts/build_C.sh"}}

<p>
If the program built without errors, continue on to the next step below.

{{step "Run Example: C_genericarray"}}

<p>
The script below will run this example.  You can modify the script
and re-run the example as many times as you like.

{{edit "scripts/run_C.sh"}}

<p>
Now you can try running the program using the above script.

{{run "scripts/run_C.sh"}}

{{step "D_list"}}

<p>
This example is a linked list class using no object
construction when handling nodes.

{{edit "workshop/D_list/List.java" "workshop/D_list/ListExample.java"}}

<p>
Once you've made any edits to the
above source file, click the button
below to build the program on the server.
If you see any build errors, scroll back up
to the source editing window and fix them.

{{build "scripts/build_D.sh"}}

<p>
If the program built without errors, continue on to the next step below.

{{step "Run Example: D_list"}}

<p>
The script below will run this example.  You can modify the script
and re-run the example as many times as you like.

{{edit "scripts/run_D.sh"}}

<p>
Now you can try running the program using the above script.

{{run "scripts/run_D.sh"}}

{{step "E_recordlog"}}

<p>
This example is a log class demonstrating MemoryPool,
coming in the next release of LLPL.

{{edit "workshop/E_recordlog/RecordLog.java" "workshop/E_recordlog/RecordLogExample.java"}}

<p>
Once you've made any edits to the
above source file, click the button
below to build the program on the server.
If you see any build errors, scroll back up
to the source editing window and fix them.

{{build "scripts/build_E.sh"}}

<p>
If the program built without errors, continue on to the next step below.

{{step "Run Example: E_recordlog"}}

<p>
The script below will run this example.  You can modify the script
and re-run the example as many times as you like.

{{edit "scripts/run_E.sh"}}

<p>
Now you can try running the program using the above script.

{{run "scripts/run_E.sh"}}

{{summary}}

<p>
The above examples have provided a brief tour of Low-Level Persistence Library
for Java, or LLPL.

{{bottom}}
