{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Using memkind to allocate memory with desired characteristics
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example shows how to use memkind to allocate memory with different charactersistics, such as: lowest latency or highest capacity.
{{template "tocEntryEnd" .}}

