{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Remote Persistent Memory
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
You already know how to access local Persistent Memory,
but Persistent Memory can be also accessed via network
based on Remote Direct Memory Access technology (RDMA).
Moreover, you can store data in remote Persistent Memory
(a Persistent Memory which is attached to another physical system)
and make this store persistent.
<br><br>
From this example you will learn how to establish an RDMA connection,
prepare your local Persistent Memory for remote manipulation,
and how to modify remote Persistent Memory using the librpma library.
<br><br>
<b>Language</b>: C
{{template "tocEntryEnd" .}}
